<li><a href="https://github.com/misfist" target="_blank"><span class="fa fa-github"></span> GitHub</a></li>
<li><a href="https://www.linkedin.com/in/patricialutz" target="_blank"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
<!-- <li><a href="" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li> -->
<li><a href="http://freecodecamp.com/misfist" target="_blank"><span class="fa fa-fire"></span> freeCodeCamp</a></li>
<li><a href="http://patricia-lutz.com" target="_blank"><span class="fa fa-briefcase"></span> Hire Me</a></li>