.card-columns {

    column-count: 1;
    column-gap: 2rem;

    article {
        transition: 5s all;
        padding: 0;
        @extend .card;
        // @extend .card-inverse;
        background-color: $gray-lighter;
    }

    img {
        @extend .card-img-top;
    }

    blockquote {
        @extend .card-blockquote;
    }

    .body {
        @extend .card-block;
        // @extend .card-img-overlay;
        
    }

    .title {
        @extend .card-title;
    }

    .content {
        @extend .card-text;
    }


    @include media-breakpoint-up( sm ) {
        column-count: 2;
        column-gap: .75rem;
    }

    @include media-breakpoint-up( md ) {
        column-count: 3;
        column-gap: 1rem;
    }

    @include media-breakpoint-up( lg ) {
        column-count: 4;
    }

    @include media-breakpoint-up( xl ) {
        column-count: 5;
    }
}
